
#circleIcon {
    margin: -3%;
}

h1 {
    margin-bottom: 5%;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    padding: 3%;
}

#content {
    padding: 3%;
    margin-bottom: 135vh;
}

.member {
    float: left;
    width: 20%;
    margin: 2% 2%;
}

#devs {
    text-align: center;
}

#devs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
}

#devs h4 {
    line-height: 40px;
}

#members-container {
    margin-left: 3%;
}

@media screen and (max-width: 600px) {
    .member {
        display: block;
        width: 100%;
    }

    #members-container {
        margin-left: -3%;
    }
}