/** 
    Author: Brendan Lin
    Ver: 1.0
**/
h4 {
    text-align: center;
}

.btn-secondary {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    margin-left: 10%;
    color: black;
    background-color: gray;
}