/** index.css styled and created by Brendan Lin **/
body {
    text-align: center;
    background-color: #E7FFE2;
}

#content {
    margin-top: 50%;
}

#buttons {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

#signup {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-bottom: 5%;
    width: 70%;
}

#login {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 70%;
}

#ghreen {
    margin-top: 10%;
    margin-bottom: 10%;
}

img {
    height: 50%;
    width: 50%;
}