h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#stats {
    text-align: center;
    margin-left: 25vw;
}

#carbon-score {
    color: black;
    border: 3px solid black;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 16%;
}

#carbon-score p {
    font-size: 35px;
    margin-top: 20%;
}

#percentage-change {
    font-size: 22px;
    color:chartreuse;
    text-shadow: 1px 1px black;
    margin-top: -22%;
    margin-left: 16%;
}

#tree {
    text-align: center;
    margin-top: 22%;
}

