#question-container {
padding: 3%;
}

#question {
background-color: #66DAE8 !important;
width: 500px;
height: 500px;
}

div button {
    background-color: #B6FFB0;
}

.confirm {
    background-color: #B6FFB0 !important;

}
