/**
    Author: Brendan Lin
    Ver: 1.0
**/
#questionContainer {
    background-color: #66DAE8;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
    padding: 3%;
    width: 90%;
    margin: 0 auto;
    opacity: 80%;
}

#back {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-top: 30%;
    margin-bottom: 2%;
    margin-left: 5%;
}

#category {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    margin-top: 20%;
}

#question {
    grid-column: 1 / span 3;
    grid-row: 1 / span 5;
    text-align: center;
}

#ask {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
}

#buttonGroup {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

/** b# = button number **/
#b1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

#b2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

#b3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    text-align: center;
}

#b4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    text-align: center;
}

#b5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    text-align: center;
}

#ab1, #ab2, #ab3, #ab4 {
    width: 90%;
}

#confirm {
    text-align: center;
    margin-top: 5%;
    width: 90%;
}

.button {
    padding: 3%;
}

#con {
    width: 100%;
    margin: 0 auto;
}

.btn-secondary {
    color: black;
}

body {
    background-color: #E7FFE2;
}
