.fa-award {
    width: 10%;
}

.fa-chevron-circle-left {
    position: absolute;
    top: 120px;
    left: 20px;
}

#rewards {
    margin: auto;
    text-align: center;
    font-style: italic;
  }

td {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.fas, .fab {
    padding: 0px;
}

#item {
    width: 120%;
    padding: 0%;
    position: relative;
    right: 10%;
}

#special, .specialTD {
    background-color: rgb(236, 209, 55);
    border: 1px solid black;
}

.specialTD {
    padding: 4.8%;
}

#specialSecond {
    width: 58%;
}

#specialThird {
    width: 200%;
}

table {
    border-collapse: separate;
    border-spacing: 10px 15px;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

.table, .td, tr, td {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10.94%, #FFFFFF 100%), #BAE7EC;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 1em;
    padding: 1em;
    text-align: left;
    border-radius: 10px;

}

td {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

td i {
    border: hidden;
    
}

#equip {
    border-left: hidden;
}

#secretMsg {
    text-align: center;
    margin: 10%;
    padding: 3%;
    background-color: rgb(236, 209, 55);
    outline: 1px solid black;
    font-size: 12pt;
}
.fa-chevron-circle-left {
    position: absolute;
    top: 120px;
    left: 20px
};

/* Code copied and pasted from W3Schools
https://www.w3schools.com/css/css_link.asp
*/
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }