.fa-award {
    width: 10%;
}

.fa-chevron-circle-left {
    position: absolute;
    top: 120px;
    left: 20px;
}

#rewards {
    margin: auto;
    text-align: center;
    font-style: italic;
  }

td {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.fa-apple-alt, .fa-birthday-cake, .fa-candy-cane, .fa-heart, .fa-star {
    padding: 0px;
}

#item {
    width: 120%;
    padding: 0%;
    position: relative;
    right: 10%;
}

#special, .specialTD {
    background-color: rgb(236, 209, 55);
    border: 1px solid black;
}

.specialTD {
    padding: 4.8%;
}

#specialSecond {
    width: 58%;
}

#specialThird {
    width: 200%;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 95%;
    margin: 10px;
    padding: 10px;
}

.table, .td {
    background-color: #8AE9C1;
    border: 1px solid black;
}

td i {
    border: hidden;
}

#equip {
    border-left: hidden;
}

#secretMsg {
    text-align: center;
    margin: 10%;
    padding: 3%;
    background-color: rgb(236, 209, 55);
    outline: 1px solid black;
}