body {
    line-height: 1em;
}

#back_icon {
    text-align: justify;
    margin-top: 1em;
}

.wrapper {
    text-align: center;
}

.taskName {
    font-size: 1.5em;
    font-weight: bolder;
    border-bottom: 2px solid black;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.2em;

}

.taskLevel {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    margin-bottom: .5em;
    margin-left: 2em;
    margin-right: 2em;
}

#add_to_list {
    margin-top: .5em;
    font-size: .8em;
    font-style: italic;
}

.descritionBox {
    margin:1em;
    min-height: 250px;
    line-height: 1.2em;
}

.s1 {
    background-color: #BAE7EC;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin:1em;
    padding: 1em;
    text-align: left;
}

.s2 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin:1em;
    margin-bottom: 0;
    padding: 1em;
    text-align: left;
}

.furtherInfo {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin:1em;
    margin-top: 0em;
    padding: 1em;
    text-align: left;
    margin-bottom: 2em;
    line-height: 1.2em;

}

#back_icon {
    width:1.5em;
    margin-left:1em
}