body {
    margin: 0;
    background-color: #E7FFE2;
}

a {
    color: black;
}

.navbar.fixed-top {
    position: relative;
}

nav, footer {
    background-color: #A3FA91;
}

.logo {
    width: 19%;
    padding: 0% 1%;
}

#title {
    font-size: 26px;
    position: absolute;
    bottom: 10px;
}

footer a {
    margin-right: 5%;
    margin-left: 4%;
}

h1 {
    text-align: center;
    margin-top: 4.8em;
}

.fa-chevron-circle-left {
    position: absolute;
    top: 60px;
    left: 20px;
}

h1 .fa-cog, .fa-award {
    margin-left: -3%;
}

i {
    margin-right: 5%;
    margin-left: 4%;
}

/* Hamburger button and list items CSS */
#hamburger {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    outline: 1px solid #B6FFB0;
    color: black;
    border-radius: 0%;
}

.list-group {
    width: 105%;
    position: relative;
    right: 5%;
}

.card {
    margin: 0px;
    padding: 0px;
    border-radius: 0%;
}

.list-group-item {
    border-style: none;
    text-align: center;
}

.list-group-item:hover {
    background-color: #B6FFB0;
}

#logout{
    outline: 1px solid black;
    background-color: #B6FFB0;
    width: 92.5%;
    margin-left: 6%;
    margin-bottom: 3%;
}

.card, .list-group, .list-group-item {
    background-color: #93f87e;
}

.gridList {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}

.iconLabel {
    grid-column: 2 / span 1;
}

#cog, #editIcon, #circle {
    grid-column: 1 / span 1;
    margin-top: 2.5%;
    position: relative;
    left: 30%;
}

#settings {
    position: relative;
    right: 40%;
}

#edit {
    position: relative;
    right: 20%;
}

#about {
    position: relative;
    right: 38%;
}

/* Bottom Nav Bar Labels */
#main, #category, #personalized, #rewards, #rewardsText {
    font-size: 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#rewards {
    position: relative;
    right: 2%;
}

#homeContainer {
    grid-column: 1 / span 1;
    width: 25%;
    margin: 0 auto;
}

#categoryContainer {
    grid-column: 2 / span 1;
    width: 25%;
    margin: 0 auto;
}

#personalizeContainer {
    grid-column: 3 / span 1;
    width: 25%;
    margin: 0 auto;
}

#rewardContainer {
    grid-column: 4 / span 1;
    width: 25%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-top: 2px;
}

