body {
    margin:0;
    font-size: 20pt;
    background-color: #E7FFE2;
}

#top_container {
    background-color: #A3FA91;
}

#logo {
    margin: 0.3em;
    height: 2em;
    width: 2em;

}

#top_container {
    font-size: 2em;
    font-weight: bold;

}

#task_text {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

#icon_container {
    text-align: center;
    margin: 1em;
    display:flex;
    justify-content: space-around;
}

#content_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;

}

.content_box {
    margin-top: 2em;
    background-color: #BAE7EC;
    height: 5em;
    width: auto;
}
